html {
  background: linear-gradient(135deg, #8ec5fc, #e0c3fc, #cfd9df, #e2ebf0);
  background-attachment: fixed;
  background-size: cover;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #dbeafe;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
body {
  font-family: "Arial", "Helvetica", "Poppins", sans-serif;
  color: #333;
  margin: 0px;
}

.logo img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: #cfe3ff;
}
.search_bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.search_bar input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.search_bar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.search_bar button:hover {
  background-color: #0056b3;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: palevioletred;
}

main {
  margin: 30px auto;
  max-width: 1200px;
  text-align: center;
}
.product-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  transition: transform 0.3s;
}
.product {
  width: 250px;
  height: auto;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}
.product img {
  width: 250px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
  margin: 0 auto;
}
.product:hover {
  transform: scale(1.05);
}

.product input {
  width: 60%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}
.product button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.product button:hover {
  background-color: #ff4500;
}
